<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clover</title>
</head>
<script type="text/javascript">
    $(".readMove").on("click",function (e){
        e.preventDefault();
        actionForm.append("<input type='hidden' name='boardId' value='" +

            $(this).attr("href")+"'>");

        actionForm.attr("action","/list");
        actionForm.submit();

    });

</script>
<body>

        <div class="row text-center" >
        <div th:each="boardList : ${boardList}" style="margin:0 auto">
        <div class="card col-10 align-content-center" style="width: 30rem; margin: 0 auto" >
            <img th:src="|uploadImg/${boardList.image}|" height="250px" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${boardList.title}"></h5>
                <p class="card-text" th:text="${boardList.content}"></p>
                <a th:href="@{|/read?boardId=${boardList.boardId}|}" class="btn btn-primary" th:text="${boardList.genAddress}"></a>
            </div>
        </div>
        </div>
        </div>
</body>
</html>