<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daelim.clover.board.mapper.BoardMapper">
        <select id="boardList"
        resultType="com.daelim.clover.board.domain.Board">
            SELECT      board_id        as boardId
                        , index_id      as indexId
                        , title
                        , image
                        , content
                        , gen_address   as genAddress
                        , det_address   as detAddress
                        , update_date    as updateDate
                        , week
                        , tag_big_name  as tagBigName
                        , tag_small_name as tagSmallName
                        , board_count   as boardCount
                        , lat
                        , lon
            from        board_db as boardDB
            WHERE       board_id > 0
            ORDER BY    board_id desc
                        , update_date DESC
        </select>

    <select id="getBoardListPaging"
            resultType="com.daelim.clover.board.domain.Board">
        <![CDATA[
        SELECT      board_id        as boardId
             , index_id      as indexId
             , title
             , content
             , gen_address   as genAddress
             , update_date    as updateDate
             , week
             , tag_big_name  as tagBigName
             , board_count   as boardCount
             , lat
             , lon
        FROM        board_db
        ]]>
            <if test="keyword != null">
        <![CDATA[
        WHERE
            title
            LIKE
            concat('%', #{keyword}, '%')
            or  content
            LIKE
            concat('%', #{keyword}, '%')
                ]]>
            </if>
        <![CDATA[
        ORDER BY
            board_id
            asc
            LIMIT #{skip}, #{amount}
            ]]>
    </select>

    <select id="getBoardMapSearchList"
            resultType="com.daelim.clover.board.domain.Board">
        <![CDATA[
        SELECT      board_id        as boardId
             , index_id      as indexId
             , title
             , content
             , gen_address   as genAddress
             , update_date    as updateDate
             , week
             , tag_big_name  as tagBigName
             , board_count   as boardCount
             , lat
             , lon
        ]]>
        FROM    (   SELECT * FROM board_db
            <if test="keyword != null">
            <![CDATA[
        WHERE
            gen_address
            LIKE
            concat('%', #{keyword}, '%')
            or  content
            LIKE
            concat('%', #{keyword}, '%')
                ]]>
            </if>
        )
        <![CDATA[
        ORDER BY
            board_id
            asc
            LIMIT #{skip}, #{amount}
            ]]>
    </select>

    <select id="listGetTotal" resultType="int">
        SELECT
        count(*)
        FROM
        board_db
        <if test="keyword != null">
            WHERE
            title
            LIKE
            concat('%', #{keyword}, '%')
            or  content
            LIKE
            concat('%', #{keyword}, '%')
        </if>
    </select>

    <select id="mapSearchlistGetTotal" resultType="int">
        SELECT
        count(*)
        FROM
        board_db
        <if test="keyword != null">
            WHERE
            gen_address
            LIKE
            concat('%', #{keyword}, '%')
            or  content
            LIKE
            concat('%', #{keyword}, '%')
        </if>
    </select>
    <select id="boardRead"
                resultType="com.daelim.clover.board.domain.Board">
            SELECT      board_id        as boardId
                 , index_id      as indexId
                 , title
                 , image
                 , content
                 , gen_address   as genAddress
                 , det_address   as detAddress
                 , update_date    as updateDate
                 , week
                 , tag_big_name  as tagBigName
                 , tag_small_name as tagSmallName
                 , board_count   as boardCount
                 , lat
                 , lon
            from        board_db as boardDB
            WHERE   board_id = #{boardId}
        </select>

        <insert id="boardCreate">
            INSERT INTO board_db
            (
                index_id
                ,   title
                ,   content
                ,   gen_address
                ,   det_address
                ,   regdate
                ,   update_date
                ,   week
                ,   tag_big_name
                ,   tag_small_name
                ,   lat
                ,   lon
            )
            VALUES
            (
                "1000"
                ,   #{title}
                ,   #{content}
                ,   #{genAddress}
                ,   #{detAddress}
                ,   sysdate()
                ,   sysdate()
                ,   #{week}
                ,   #{tagBigName}
                ,   #{tagSmallName}
                ,   #{lat}
                ,   #{lon}

            )
        </insert>
        <update id="boardUpdate"
            parameterType="com.daelim.clover.board.domain.Board">
            UPDATE board_db
            SET    title            =#{title}
                ,   content         =#{content}
                ,   gen_address     =#{genAddress}
                ,   det_address     =#{detAddress}
                ,   update_date     = sysdate()
                ,   week            =#{week}
                ,   tag_big_name    =#{tagBigName}
                ,   tag_small_name  =#{tagSmallName}
                ,   lat             =#{lat}
                ,   lon             =#{lon}
            WHERE board_id = #{boardId}
            AND   index_id = #{indexId}
        </update>

        <delete id="boardDelete">
            DELETE FROM board_db
            WHERE board_id = #{boardId}
            AND   index_id = #{indexId}
        </delete>

</mapper>

