<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daelim.clover.user.mapper.UserMapper">
    <!--        USER SQL           -->

    <!--회원가입-->
    <insert id="saveUser" >
        INSERT  INTO user_db
        (
            user_id
        ,  password
        ,  name
        ,  nickname
        ,  email
        ,  phone
        ,  sex
        ,  regdate
        )
        VALUES
            (
                #{userId}
            ,   #{pwd}
            ,   #{name}
            ,   #{nickname}
            ,   #{email}
            ,   #{phone}
            ,   #{sex}
            ,   sysdate()
            )
    </insert>

   <!-- 로그인-->
    <select id="getUserAccount" resultType="com.daelim.clover.user.domain.User">
        SELECT
        *
        FROM
        user_db
        WHERE
        user_id = #{userId}
    </select>
</mapper>