<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr th:each="boardList : ${boardList}">
            <td align="center" th:text="${boardList.title}"></td>
            <td align="center"><a  th:href="@{|/read?boardId=${boardList.boardId}|}" th:text="${boardList.content}"></a></td>
            <td align="center" th:text="${boardList.genAddress}"></td>
            <td align="center" th:text="${boardList.detAddress}"></td>
            <td th:text="${#dates.format(boardList.updateDate,'yyyy-MM-dd')}"></td>
            <td align="center" th:text="${boardList.week}"></td>
            <td align="center" th:text="${boardList.tagBigName}"></td>
            <td align="center" th:text="${boardList.tagSmallName}"></td>
        </tr>
    </table>
</body>
</html>