<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(".readMove").on("click",function (e){
        e.preventDefault();
        actionForm.append("<input type='hidden' name='boardId' value='" +
            $(this).attr("href")+"'>");
        actionForm.attr("action","/list");
        actionForm.submit();

    })
</script>
<body>
<table>

    <tr th:each="boardList : ${boardList}">
        <td align="center" th:text="${boardList.title}"></td>
        <td align="center">
            <a class="readMove" th:href="@{|/read?boardId=${boardList.boardId}|}" th:text="${boardList.content}">
            </a>
        </td>
        <td align="center" th:text="${boardList.genAddress}"></td>
        <td align="center" th:text="${boardList.detAddress}"></td>
        <td th:text="${#dates.format(boardList.updateDate,'yyyy-MM-dd')}"></td>
        <td align="center" th:text="${boardList.week}"></td>
        <td align="center" th:text="${boardList.tagBigName}"></td>
        <td align="center" th:text="${boardList.tagSmallName}"></td>
    </tr>
</table>
<!-- 페이징처리 -->
<!-- 이전 버튼 -->
<div>
    <th:block th:if="${pageMaker.prev}">
        <li class="pageMaker_btn prev">
            <a href="javascript:void(0)" th:onclick="movePage( [[ ${#request.requestURI} ]], [[ ${pageMaker.cri.makeQueryString(pageMaker.startPage - 1)} ]])">이전</a>
        </li>
    </th:block>
    <!-- 페이지 번호-->
    <th:block th:with="pageMaker = ${pageMaker}">
        <th:block th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
            <li class="pageMaker_btn" th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
                <a href="javascript:void(0)" th:text="${num}" th:onclick="movePage([[ ${#request.requestURI} ]],[[ ${pageMaker.cri.makeQueryString(num)} ]])"></a>
            </li>
        </th:block>
    </th:block>
    <th:block th:if="${pageMaker.next}">
        <li class="pageMaker_btn next">
            <a href="javascript:void(0)" th:onclick="movePage( [[ ${#request.requestURI} ]], [[ ${pageMaker.cri.makeQueryString(pageMaker.endPage + 1)} ]])">다음</a>
        </li>
    </th:block>
</div>
<!-- 페이징 처리에 같이 갈 데이터 -->
<form id="actionForm" action="list" method="get">
    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
</form>
<script th:javascript>
    /* ![CDATA[ */
    function movePage(uri, queryString) {
        console.log(uri);
        console.log(queryString);

        location.href = uri + queryString;
    }
    /* ]]*/
</script>
</body>
</html>