<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
            var formObj = $("#board");

            $("#btModify").on("click",function (){
                formObj.attr("action","/modify");
                formObj.attr("method","post");
                formObj.submit();

            })
        })
    </script>
</head>
<body>
    <form id="board" action="success.html" th:action="@{/modify}" th:object="${board}" method="post">
        <input type="hidden" name="boardId" th:value="*{boardId}"/>
        <input type="hidden" name="indexId" th:value="*{indexId}"/>
        <table>
            <tr>
                <td>title</td>
                <td><input type="text" name="title"
                           th:field="*{title}"/></td>
            </tr>
            <tr>
                <td>content</td>
                <td><input type="text" name="content"
                           th:field="*{content}" /></td>
            </tr>
            <tr>
                <td>genAddress</td>
                <td width="100%" height="100%">
                    <div id="map" style="width:100%;height:350px;">
                        <input type="text" name="genAddress"
                               th:field="*{genAddress}"/><
                    </div>
                </td>

            </tr>
            <tr>
                <td>detAddress</td>
                <td><input type="text" name="detAddress"
                           th:field="*{detAddress}"/></td>
            </tr>
            <tr>
                <td>tagBigName</td>
                <td><input type="text" name="tagBigName"
                           th:field="*{tagBigName}"/></td>
            </tr>
            <tr>
                <td>tagSmallName</td>
                <td><input type="text" name="tagSmallName"
                           th:field="*{tagSmallName}"/></td>
            </tr>
            <tr>
                <td>updateDate</td>
                <td th:text="${#dates.format(board.updateDate,'yyyy-MM-dd')}"></td>
            </tr
            >
        </table>
    </form>
    <div>
        <button type="submit" id="btModify">수정</button>
    </div>
</body>
</html>