<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
<link href="login.css" rel="stylesheet">
</head>

<body>
    <section>
        <div id="logo">LOGO</div>
        <div id="login">

            <form>
                    <input type="text" name="userID" placeholder="아이디"><br>
                    <input type="password" name="userPW" placeholder="패스워드"><br>

                <button type="button">로그인</button>

                <div id="login_bottom">
                    <a href="#">아이디/패스워드 찾기</a>
                    <a href="#">회원가입</a>
                </div>
                
            </form>

            
            <article id="bottom">Copyrights @ 2022 clover.or.kr
            </article>
        </div>
    </section>

    <footer>
    </footer>
</body>
</html>