<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
 <th:block th:include="/include/navbar"> </th:block>


<!-- card -->
<th:block th:include="/include/bMainList"></th:block>
 <!-- footer -->
 <th:block th:include="/include/footer"> </th:block>
</body>
</html>