<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap -->
<!--    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/sidebar/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/join.css">

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요한) -->


</head>
<body>

<!-- 모달창 -->
<div class="modal fade" id="defaultModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p class="modal-contents">

                </p>
            </div>
            <div class="modal-footer">
                <button id="modalSubmit" type="button" class="btn btn-success" data-dismiss="modal">수정</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--// 모달창 -->

<!-- 모달창 -->
<div class="modal fade" id="ck">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p class="modal-contents">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--// 모달창 -->

<!-- 모달창 -->
<div class="modal fade" id="secession">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p class="modal-contents">

                </p>
            </div>
            <div class="modal-footer">
                <button id="secessionbtn" type="button" class="btn btn-success" data-dismiss="modal">탈퇴</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--// 모달창 -->
<th:block th:include="/include/navbar"> </th:block>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href=# class="img logo rounded-circle mb-5" style="background-image: url('/sidebar/images/logo.jpg');"></a>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#MyInfo" onclick="onChangedata('root')" data-toggle="collapse" aria-expanded="false" >내정보</a>

                </li>
                <li>
                    <a href="#boardList" onclick="onChangedata('board')"  data-toggle="collapse" aria-expanded="false">내 게시판</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#secession"  onclick="secession()">회원탈퇴</a>
                </li>
            </ul>

            <div class="footer">

            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>

            </div>
        </nav>


        <div class="tab-pane fade in active show" id="MyInfo" >
            <div id="profile">

                <div>프로필
                </div>
                <a>닉네임: <a th:text="${session.userNickname}"></a></a>
                <br>
                <input id="nickname" type="hidden" th:value="${session.userNickname}">
                <br>
                <a>이름: <a th:text="${session.userName}"></a></a>
                <input  id="username" type="hidden" th:value="${session.userName}">
            </div>
            <hr/>
            <p>
                닉네임  &nbsp &nbsp <input  class="btn btn-outline-success" onclick="userNicknameUpdate()" type="button" value="수정">
            </p>
            <p>
                이름  &nbsp &nbsp &nbsp &nbsp <input  class="btn btn-outline-success" onclick="userNameUpdate()" type="button" value="수정">
            </p>
            <p>
                비밀번호  <input  class="btn btn-outline-success" type="button" onclick="userpwdUpdate()" value="수정">
                <input id="pwd" type="hidden" th:value="${session.userPwd}">
            </p>
            <p>
                이메일 &nbsp  &nbsp <input  class="btn btn-outline-success" onclick="useremailUpdate()" type="button" value="수정">
                <input id="email" type="hidden" th:value="${session.userEmail}">
            </p>
        </div>

        <div class="tab-pane fade "  id="boardList"><th:block th:include="/include/bMypageList"></th:block></div>
    </div>


        <div class="tab-pane fade "  id="boardList">
            <h2 class="mb-4">내 게시판</h2>
            <th:block th:include="bMypageList"></th:block>
         </div>

    </div>
</div>
<!--<script src="/sidebar/js/jquery.min.js"></script>-->
<script src="/sidebar/js/popper.js"></script>
<script src="/sidebar/js/main.js"></script>
<script src="/sidebar/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
    var jb = jQuery.noConflict();
    var modalContents = $(".modal-contents");
    var modal = $("#defaultModal");
    var modalck = $('#ck');
    var modalContent=$('.modal-contents');
    var secessionContent = $('.modal-contents');
    var modalSecession = $('#secession');

//초기설정
    var modifyname=$('#username').val();
    var modifynickname=$('#nickname').val();
    var modifyemail=$('#email').val();
    var modifypwd=$('#pwd').val();
    var emailcheking;

    //회원 탈퇴
    function secession(event){
console.log("회원탈퇴");
        secessionContent.text("정말 탈퇴 하시겠습니까?");
        modalSecession.modal('show');
        $('#secessionbtn').click(function (){
            jb.ajax({
                type:"post",
                url :"/dropUser",
                success:function (result){
                    if(result="success"){
                        modalContent.text("정상적으로 탈퇴 되었습니다.");
                        modalck.modal('show');
                        jb.ajax({
                            type:get,
                            url:"/mainpage"
                        })
                    }

                }
            })
        })
    }
    //닉네임 수정 js
    function userNicknameUpdate(event) {
        console.log("닉네임입력해줘");
        modalContents.html(" <div class='form-group' id='divNickname'>"+
        "<label style='max-width: 30%'  class='col-lg-2 control-label'>닉네임</label>"+
        "<div class='col-lg-10'>"+
            "<input type='text' name='modifynickname' class='form-control' id='modifynickname' data-rule-required='true' placeholder='별명' maxlength='15'>"+
        "</div>"+
        "<span class='err nicknameerr'>수정할 닉네임을 입력해주세요</span>"+
    "</div>");
        modal.modal('show');


        $('#modifynickname').keyup(function(event){

            var divNickname = $('#divNickname');

            if($.trim($('#modifynickname').val())==""){
                divNickname.removeClass("has-success");
                divNickname.addClass("has-error");
                $("#modifynickname").css("border-color", "#ff4d78");
                $(".nicknameerr").show();
            }else{
                divNickname.removeClass("has-error");
                divNickname.addClass("has-success");
                $("#modifynickname").css("border-color", "#dddddd");
                $(".nicknameerr").hide();
            }
        });


        $('#modalSubmit').click(function (){
            modifynickname=$('#modifynickname').val();
            // console.log(name);
            // console.log(nickname);
            if(!$('#modifynickname').val()){
                console.log("트루")
                modalContent.text("닉네임을 입력해주세요");
                modalck.modal('show');
            }else {
                console.log("펄스");
                console.log(modifynickname);
                var data = {
                    "name"    : modifyname,
                    "nickname": modifynickname,
                    "pwd"     : modifypwd,
                    "email"   : modifyemail
                };
                jb.ajax({
                    type:"post",
                    data : data,
                    url : "/update_popup",
                    success:function (result){
                             console.log("수정완료");
                        console.log(result);
                            if(result=="success"){
                                console.log("새로고침");
                                window.location.reload();
                            }
                    }
                })
            }
        });
    }
// 이름 변경
    function userNameUpdate(event){
    modalContents.html("<div class='form-group' id='divName'>" +
        "            <label class='col-lg-2 control-label'>이름</label>" +
        "            <div class='col-lg-10'>" +
        "                <input type='text' name='modifyname' class='form-control onlyHangul' id='modifyname' data-rule-required='true' placeholder='한글만 입력 가능합니다.' maxlength='15'>" +
        "            </div>" +
        "            <span class='err nameerr'>변경할 이름를 입력해주세요</span>" +
        "        </div>");
        modal.modal('show');


        $('#modalSubmit').click(function (){
            modifyname=$('#modifyname').val();
             console.log(modifyname);
            console.log(!$('#modifyname').val());
            // console.log(nickname);
            if(!$('#modifyname').val()){
                console.log("트루");
                modalContent.text("이름을 입력해주세요");
                modalck.modal('show');
            }else {
                console.log("펄스");
                var data = {
                    "name"    : modifyname,
                    "nickname": modifynickname,
                    "pwd"     : modifypwd,
                    "email"   : modifyemail
                };
                jb.ajax({
                    type:"post",
                    data : data,
                    url : "/update_popup",
                    success:function (result){
                         console.log("수정완료");
                        console.log(result);
                        if(result=="success"){
                            console.log("새로고침");
                            window.location.reload();
                        }
                    }
                })
            }

        });

        $('#modifyname').keyup(function(event){

            var divName = $('#divName');

            if($.trim($('#modifyname').val())==""){
                divName.removeClass("has-success");
                divName.addClass("has-error");
                $("#modifyname").css("border-color", "#ff4d78");
                $(".nameerr").show();
            }else{
                divName.removeClass("has-error");
                divName.addClass("has-success");
                $("#modifyname").css("border-color", "#dddddd");
                $(".nameerr").hide();
            }
        });

        $(".onlyHangul").keyup(function(event){
            if (!(event.keyCode >=37 && event.keyCode<=40)) {
                var inputVal = $(this).val();
                $(this).val(inputVal.replace(/[a-z0-9]/gi,''));
            }
        });
    }






// 비밀번호 변경
    function userpwdUpdate(event){
        var passwordCheck = $('#modifypwdCheck').val();
        var password = $('#modifypwd').val();
        var divPasswordCheck = $('#divPasswordCheck');
        var divPassword = $('#divPassword');


        modalContents.html("<div class='form-group' id='divPassword'>"+
        "<label   style='max-width: 30%' class='col-lg-2 control-label'>패스워드</label>"+
        "<div class='col-lg-10'>"+
            "<input type='password' name='pwd' class='form-control' id='modifypwd'  data-rule-required='true' placeholder='패스워드' maxlength='30'>"+
        "</div>"+
        "<span class='err pwerr'>비밀번호를 입력해주세요</span>"+
    "</div>"+

        "<div class='form-group' id='divPasswordCheck'>"+
            "<label style='max-width: 30%'  class='col-lg-2 control-label'>패스워드 확인</label>"+
            "<div class='col-lg-10'>"+
                "<input type='password'    class='form-control' id='modifypwdCheck' data-rule-required='true' placeholder='패스워드 확인' maxlength='30'>"+
            "</div>"+
            "<span class='err chkerr'>비밀번호가 일치하지 않습니다.</span>"+
        "</div>");
        modal.modal('show');


        $('#modalSubmit').click(function (){
            modifypwd=$('#modifypwd').val();
            console.log(modifypwd);
            console.log(!$('#modifypwd').val());
            // console.log(nickname);
            if(!$('#modifypwd').val() && !$('#modifypwdCheck').val()){
                //패스워드 검사
                if($('#modifypwd').val()==""){
                    modalContent.text("패스워드를 입력하여 주시기 바랍니다.");
                    modalck.modal('show');
                }else{
                    divPassword.removeClass("has-error");
                    divPassword.addClass("has-success");
                }

            }else if($('#modifypwd').val()!=$('#modifypwdCheck').val() || $('#modifypwdCheck').val()=="") {
                modalContent.text("패스워드가 일치하지 않습니다.");
                modalck.modal('show');
            }else{
                console.log("펄스");
                var data = {
                    "name"    : modifyname,
                    "nickname": modifynickname,
                    "pwd"     : modifypwd,
                    "email"   : modifyemail
                };
                jb.ajax({
                    type:"post",
                    data : data,
                    url : "/update_popup",
                    success:function (result){
                        console.log("수정완료");
                        console.log(result);
                        if(result=="success"){
                            console.log("새로고침");
                            //window.location.reload();
                        }else if(result=="faild"){
                            console.log("실패");
                            modalContent.text("기존 패스워드랑 동일합니다.");
                            modalck.modal('show');
                        }
                    }
                })
            }

        });

        $('#modifypwd').keyup(function(event){


            if($('#modifypwd').val()==""){
                divPassword.removeClass("has-success");
                divPassword.addClass("has-error");
                $("#modifypwd").css("border-color","#ff4d78");
                $(".pwerr").show();
            }else{
                divPassword.removeClass("has-error");
                divPassword.addClass("has-success");
                $("#modifypwd").css("border-color","#dddddd");
                $(".pwerr").hide();
            }
        });

        $('#modifypwdCheck').keyup(function(event){

            if((passwordCheck=="") || (password!=passwordCheck)){
                divPasswordCheck.removeClass("has-success");
                divPasswordCheck.addClass("has-error");
                $("#passwordCheck").css("border-color","#ff4d78");
                $(".chkerr").show();
            }else{
                divPasswordCheck.removeClass("has-error");
                divPasswordCheck.addClass("has-success");
                $("#passwordCheck").css("border-color","#dddddd");
                $(".chkerr").hide();
            }
        });
    }

    // 이메일 변경
    function useremailUpdate(event){

        modalContents.html("<div class='form-group' id='divEmail'>"+
       " <label style='max-width: 30%'  class='col-lg-2 control-label'>이메일</label>"+
        "<div class='col-lg-10'>"+
           " <input type='email' name='email' class='emailchk form-control' id='modifyemail' data-rule-required='true' placeholder='이메일' maxlength='40'>"+
                "<input type='text'   class='elchk' placeholder='인증키 입력'> <input type='button' style='margin-top: 20px' class='elchk_2' onclick='emailchk()' value='이메일 인증'/><input type='button' onclick='chaking()' class='elchk' value='인증확인'>"+
                   " <span class='echeking'>이미 사용중인 이메일입니다.</span><span class='echking_2'>인증이 완료되었습니다.</span>"+
        "</div>"+
       " <span class='err emailerr'>이메일를 입력해주세요</span>"+
    "</div>");
        modal.modal('show');


        $('#modalSubmit').click(function (){
            modifyemail=$('#modifyemail').val();
            console.log(modifyemail);
            console.log(!$('#modifyemail').val());
            // console.log(nickname);
            if(!$('#modifyemail').val()){
                console.log("트루")
                modalContent.text("이메일을 입력해주세요");
                modalck.modal('show');

            }else{
                console.log("펄스");
                var data = {
                    "name"    : modifyname,
                    "nickname": modifynickname,
                    "pwd"     : modifypwd,
                    "email"   : modifyemail
                };
                jb.ajax({
                    type:"post",
                    data : data,
                    url : "/update_popup",
                    success:function (result){
                        console.log("수정완료");
                        console.log(result);
                        if(result=="success"){
                            console.log("새로고침");
                            //window.location.reload();
                        }
                    }
                })
            }

        });

        $('#email').keyup(function(event){

            var divEmail = $('#divEmail');

            if($.trim($('#email').val())==""){
                divEmail.removeClass("has-success");
                divEmail.addClass("has-error");
                $("#email").css("border-color","#ff4d78");
                $(".emailerr").show();
            }else{
                divEmail.removeClass("has-error");
                divEmail.addClass("has-success");
                $("#email").css("border-color","#dddddd");
                $(".emailerr").hide();
            }
        });
    }
    //이메일 인증
    function emailchk(){
        var email = $('.emailchk').val();//이메일 입려된값
        var data = {email:email,
                    bool:false}
        jb.ajax({
            type: "post",
            url: "/mailchk",
            data,
            success : function (result){
                console.log(result);
                if(result=='success'&& $('.emailchk').val()!=""){
                    $('.elchk').css("display","inline-block")
                    $('.elchk_2').css("display","none")
                    $('.echeking').css("display","none")
                    jb.ajax({
                        type:"post",
                        url:"/mail",
                        data,
                        success : function (code){
                            emailcheking=code;
                        }
                    })

                }else{
                    $('.elchk_2').css("display","inline-block")
                    $('.echeking').css("display","inline-block")
                    $('.elchk').css("display","none")

                }
            }
        })

    }
    //이메일 코드 체킹
    function chaking(event) {
        var code = $('.elchk').val();//인증키 입력란 값
        console.log("인증확인");
        console.log(code+"값");
        console.log(emailcheking+"값");
        if ($('.elchk').val() == "") {
            console.log("빈란");
            modalContents.text("이메일을 입력하여 주시기 바랍니다.");
            modal.modal('show');
        } else if ($('.elchk').val() != emailcheking || emailcheking == "") {
            console.log("코드오류");
            modalContents.text("잘못된 코드 입니다.");
            modal.modal('show');
            return false;
        } else if($('.elchk').val()==emailcheking){
            console.log("인증완");
            $('.elchk').css("display","none");
            $('.echking_2').css("display","inline-block");

        }
    }
    //
    // function onChangedata(data){
    //     if(data=='root'){
    //         document.getElementById('board').className='tab-pane fade ';
    //         document.getElementById('root').className="tab-pane fade active collapse show in"
    //     }else if(data='board'){
    //         document.getElementById('board').className='tab-pane fade collapse ';
    //         document.getElementById('root').className=''
    //     }
    // }


</script>
</body>
</html>